{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
<h1>Tambah Tugasmu</h1>

<form method="POST" action="">
    {% csrf_token %}
    <label for="title">Title</label>
    <input type="text" name="name" placeholder="Nama Barang">
    <input type="text" price="price" placeholder="Harga Barang">
    <label for="description">Description</label>
    <input type="text" name="description" placeholder="Berikan deskripsimu">

    <button id = "button" class = "btn btn-success" type="submit">Submit<button>
</form>

{% endblock content %}